<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

<body>
  <%- include('includes/navbar') %>

  <section class="main">
    <!-- Add Payroll content -->
    <div>
      <!-- Add new Payroll -->
      <form action="/admin/payroll/add/<%= emp.id %>" method="post" id="new_emp_pay">
        <div class="container-fluid p-3 bg-white rounded-2">
          <h2 class="mt-2">Add Employee Payroll</h2>

          <div class="new-payroll-form-container">
            <!-- ID, Name & Email -->
            <div class="row mt-4">
              <div class="col-lg-4 m-0">
                <label for="new_pay_emp_id">Employee ID</label><br />

                <input type="text" class="form-control rounded-4" id="new_pay_emp_id" placeholder="ID no." value="<%= emp.employee_id %>" name="employee_id" readonly />
              </div>

              <div class="col-lg-4 m-0">
                <label for="new_pay_emp_name">Employee Name</label><br />

                <input class="form-control rounded-4" type="text" aria-label="Name" id="new_pay_emp_name" placeholder="Name" value="<%= emp.full_name %>" name="full_name" readonly />
              </div>

              <div class="col-lg-4">
                <label for="new_pay_emp_mail">Employee Email</label><br />

                <input class="form-control rounded-4" type="email" aria-label="Email" id="new_pay_emp_mail" placeholder="Email" value="<%= emp.email %>" name="email" readonly />
              </div>
            </div>

            <!-- Department and Position -->
            <div class="row mt-4">
              <div class="col-lg-6 m-0">
                <label for="new_pay_emp_dept">Department</label><br />

                <input type="text" class="form-control rounded-4" id="new_pay_emp_dept" placeholder="Department" value="<%= emp.department %>" name="department" readonly />
              </div>

              <div class="col-lg-6 m-0">
                <label for="new_pay_emp_post">Position</label><br />

                <input type="text" class="form-control rounded-4" id="new_pay_emp_post" placeholder="Position" value="<%= emp.position %>" name="position" readonly />
              </div>
            </div>

            <!-- Employee Salary -->
            <div class="row mt-4 mb-4">
              <div class="m-0">
                <label for="new_pay_emp_sal">Salary (INR)</label><br />

                <input type="number" class="form-control rounded-4" id="new_pay_emp_sal" name="salary" required />
              </div>
            </div>

            <!-- Prescription Details Notes -->
            <div class="row">
              <label for="new_pay_emp_notes">Payroll Description</label>

              <div id="new_pay_emp_notes"></div>
              <input type="hidden" name="payroll_desc" id="pay_notes_input">
            </div>

            <!-- Add Employee Payroll -->
            <div class="row d-flex align-items-center justify-content-center mt-4 mb-4">
              <button type="submit" class="btn btn-primary col-lg-2 m-2">
                Add
              </button>
              <a href="/admin/payroll/add" class="btn btn-secondary col-lg-2 m-2" id="cancel_btn">
                Cancel
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- bootstrap cdn -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- sweet alert cdn -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>

  <!-- quill editor cdn -->
  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.js"></script>
  <script src="/js/quill.js"></script>
  <script>
    const new_payroll_editor = new Quill("#new_pay_emp_notes", {
      modules: {
        toolbar: toolbarOptions,
      },
      theme: "snow",
    });

    document.querySelector("#new_emp_pay").addEventListener("submit", (e) => {
      document.querySelector("#pay_notes_input").value = new_payroll_editor.root.innerHTML;
    })
  </script>

  <!-- Main js file -->
  <script defer src="/js/admin.js"></script>
</body>

</html>