<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

<body>
  <% if (userType === 'admin') { %>
  <%- include('includes/navbar') %>
  <% }else if (userType === 'doctor') { %>
  <%- include('includes/doc_navbar') %>
  <% } %>

  <section class="main">
    <div>
      <!-- Add new Lab Result -->
      <form action="#" id="new_lab_result">
        <div class="container-fluid p-3 bg-white rounded-2">
          <h2 class="mt-2">Add Lab Result</h2>

          <div class="labresult-form-container mt-4">
            <!-- Lab Result details -->
            <div class="row p-0">
              <label for="lab_result_notes">Laboratory Result (<span id="lab_result_name"><%= lab.full_name %></span>)</label>

              <div id="lab_result_notes"></div>
            </div>

            <!-- Add lab Result button -->
            <div class="row d-flex align-items-center justify-content-center mt-4 mb-4">
              <button type="submit" class="btn btn-primary col-lg-2 m-2">
                Add
              </button>
              <a href="/<%= userType %>/lab/results" class="btn btn-secondary col-lg-2 m-2" id="cancel_btn">
                Cancel
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- bootstrap cdn -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- quill editor cdn -->
  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.js"></script>
  <script src="/js/quill.js"></script>
  <script>
    const lab_result_editor = new Quill("#lab_result_notes", {
      modules: {
        toolbar: toolbarOptions,
      },
      theme: "snow",
    });
  </script>

  <!-- Main js file -->
  <script defer src="/js/admin.js"></script>
</body>

</html>