<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

<body>
  <%- include('includes/navbar') %>

  <section class="main">
    <!-- Add Payroll content -->
    <div>
      <div class="add-emp-pay-content container-fluid p-3 bg-white rounded-2">
        <div class="add-emp-pay-heading d-flex justify-content-between pt-2 pb-3">
          <h2>Add Employee Payrolls</h2>
        </div>

        <div class="overflow-auto">
          <table id="add_emp_pay" class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Employee ID</th>
                <th scope="col">Email Address</th>
                <th scope="col">Department</th>
                <th scope="col">Position</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% let count = 1 %> <% for (employee of employees) { %>
              <tr>
                <td><%= count %></td>
                <td><%= employee.full_name; %></td>
                <td><%= employee.employee_id; %></td>
                <td><%= employee.email; %></td>
                <td><%= employee.department; %></td>
                <td><%= employee.position; %></td>
                <td>
                  <a href="/admin/payroll/add/<%= employee.id %>" class="text-decoration-none">Add</a>
                </td>
              </tr>
              <% count++ %> <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <!-- bootstrap cdn -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- datatable cdn -->
  <script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script defer src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
  <script defer src="/js/datatable_table.js"></script>

  <!-- Main js file -->
  <script defer src="/js/admin.js"></script>
</body>

</html>