<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

<body>
  <% if (userType === 'admin') { %>
  <%- include('includes/navbar') %>
  <% }else if (userType === 'doctor') { %>
  <%- include('includes/doc_navbar') %>
  <% } %>

  <section class="main">
    <div class="add-pres-content">
      <!-- Add new Prescription -->
      <form action="/<%= userType %>/prescription/add/<%= patient.patient_id %>" method="post" id="new_patient_presc">
        <div class="container-fluid p-3 bg-white rounded-3">
          <h2 class="mt-2">Add Patient Prescription</h2>

          <div class="prescription-form-container">
            <!-- name and age -->
            <div class="row mt-4">
              <div class="col-lg-6 m-0">
                <label for="patient_presc_name">Patient's Name</label><br />

                <input type="text" class="form-control rounded-4" id="patient_presc_name" placeholder="Name" value="<%= patient.name %>" name="name" readonly />
              </div>

              <div class="col-lg-6 m-0">
                <label for="patient_presc_age">Patient's Age</label><br />

                <input type="number" class="form-control rounded-4" id="patient_presc_age" placeholder="Age" value="<%= patient.age %>" name="age" readonly />
              </div>
            </div>

            <!-- ID, Address & Type -->
            <div class="row mt-4">
              <div class="col-lg-4 m-0">
                <label for="patient_presc_id">Patient ID</label><br />

                <input type="text" class="form-control rounded-4" id="patient_presc_id" placeholder="ID no." value="<%= patient.patient_id %>" name="patient_id" readonly />
              </div>

              <div class="col-lg-4 m-0">
                <label for="patient_presc_address">Patient Address</label><br />

                <input class="form-control rounded-4" type="text" aria-label="Address" id="patient_presc_address" placeholder="Address" value="<%= patient.address %>" name="address" readonly />
              </div>

              <div class="col-lg-4">
                <label for="patient_presc_type">Patient Type</label><br />

                <input type="text" class="form-select rounded-4" aria-label="Type" id="patient_presc_type" value="<%= patient.type %>" name="type" readonly />
              </div>
            </div>

            <!-- Patient Ailment -->
            <div class="row mt-4 mb-4">
              <div class="m-0">
                <label for="patient_presc_ailment">Patient Ailment</label><br />

                <input type="text" class="form-control rounded-4" id="patient_presc_ailment" placeholder="Disease Name / Symptoms Name" name="ailment" value="<%= patient.ailment %>" />
              </div>
            </div>

            <!-- Prescription Details Notes -->
            <div class="row">
              <label for="add_presc_notes">Prescription Notes</label>

              <div id="add_presc_notes" class=""></div>
              <input type="hidden" name="notes" id="presc_notes_input">
            </div>

            <!-- Add Patient Prescription button -->
            <div class="row d-flex align-items-center justify-content-center mt-4 mb-4">
              <button type="submit" class="btn btn-primary col-lg-2 m-2">
                Add
              </button>
              <a href="/<%= userType %>/prescription/add" class="btn btn-secondary col-lg-2 m-2" id="cancel_btn">
                Cancel
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- bootstrap cdn -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- sweet alert cdn -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>

  <!-- quill editor cdn -->
  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.js"></script>
  <script src="/js/quill.js"></script>
  <script>
    const presc_editor = new Quill("#add_presc_notes", {
      modules: {
        toolbar: toolbarOptions,
      },
      theme: "snow",
    });

    document.querySelector("#new_patient_presc").addEventListener("submit", (e) => {
      document.querySelector("#presc_notes_input").value = presc_editor.root.innerHTML;
    })
  </script>

  <!-- Main js file -->
  <script defer src="/js/admin.js"></script>
</body>

</html>