<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

<body>
  <% if (userType === 'admin') { %>
  <%- include('includes/navbar') %>
  <% }else if (userType === 'doctor') { %>
  <%- include('includes/doc_navbar') %>
  <% } %>

  <section class="main">
    <!-- patient profile content -->
    <div>
      <div class="pat-profile-content container-fluid p-4 bg-white rounded-2 position-relative">
        <div class="pat-profile-heading d-flex justify-content-between pt-2 pb-3">
          <h2>Patient Profile</h2>
        </div>
        <div class="pat-profile-close-btn me-4 mt-3">
          <a href="/<%= userType %>/patient/q"><i class="fa-solid fa-xmark"></i></a>
        </div>

        <div class="d-flex flex-lg-row flex-column">
          <div class="left-pat-profile-sec p-4 col-lg-5 rounded-2 me-lg-4 mb-3">
            <div class="pat-img-container rounded-circle"></div>
            <div class="pat-name-id-container pt-lg-4 text-center">
              <p>
                <span id="pat_profile_name"><%= patient.name %>,</span>
                <span id="pat_profile_age"><%= patient.age %> yrs</span>
              </p>
              <p><span id="pat_profile_id"><%= patient.patient_id %></span></p>
              <p><span id="pat_profile_type"><%= patient.type %></span></p>
              <p>
                <span id="pat_profile_contact"><%= patient.contact %></span>
              </p>
              <p>
                <span id="pat_profile_mail"><%= patient.email %></span>
              </p>
              <p>
                Ailment :
                <span id="pat_profile_ailment"><%= patient.ailment %></span>
              </p>
            </div>
          </div>

          <div class="right-pat-profile-sec p-5 rounded-2 flex-fill mb-3">
            <h2 class="mb-4">Vitals signs</h2>
            <div class="vitals-container d-flex gap-lg-5 border p-4 pb-3 rounded-2">
              <div class="left-vitals d-flex flex-column justify-content-between">
                <p>Heart Rate (Pulse) :</p>
                <p>Blood pressure :</p>
                <p>Temperature :</p>
                <p>Respiratory rate :</p>
                <p>Oxygen saturation (SpO2) :</p>
              </div>
              <div class="right-vitals d-flex flex-column justify-content-between">
                <p>
                  <span id="pat_profile_heart"><%= lab.heart_rate %> bpm</span>
                </p>
                <p>
                  <span id="pat_profile_blood"><%= lab.blood_pressure %> mm Hg</span>
                </p>
                <p>
                  <span id="pat_profile_temp"><%= lab.temperature %> °F</span>
                </p>
                <p>
                  <span id="pat_profile_respi"><%= lab.resp_rate %> bpm</span>
                </p>
                <p>
                  <span id="pat_profile_oxy"><%= lab.oxygen_sat %>%</span>
                </p>
              </div>
            </div>
            <br />
            <h2 class="mb-4">Personal Details</h2>
            <div class="details-container d-flex gap-lg-5 border p-4 pb-3 rounded-2">
              <div class="left-details d-flex flex-column justify-content-between">
                <p>Gender :</p>
                <p>Date of Birth :</p>
                <p>Marital Status :</p>
                <p>Emergency Contact :</p>
                <p>Complete Address :</p>
              </div>
              <div class="right-details d-flex flex-column justify-content-between">
                <p>
                  <span id="pat_profile_gender"><%= patient.gender %></span>
                </p>
                <p>
                  <span id="pat_profile_dob"><%= patient.dob.toLocaleDateString() %></span>
                </p>
                <p>
                  <span id="pat_profile_marital"><%= patient.marital_status %></span>
                </p>
                <p>
                  <span id="pat_profile_emergency"><%= patient.emergency_contact %></span>
                </p>
                <p>
                  <span id="pat_profile_address"><%= patient.address %></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- bootstrap cdn -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- datatable cdn -->
  <script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script defer src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
  <script defer src="/js/datatable_table.js"></script>

  <!-- Main js file -->
  <script defer src="/js/admin.js"></script>
</body>

</html>