<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

<body>
  <% if (userType === 'admin') { %>
  <%- include('includes/navbar') %>
  <% }else if (userType === 'doctor') { %>
  <%- include('includes/doc_navbar') %>
  <% } %>

  <section class="main">
    <!-- View Patient content -->
    <div>
      <div class="view-pat-content container-fluid p-3 bg-white rounded-2">
        <div class="view-pat-heading d-flex justify-content-between pt-2 pb-3">
          <h2>View Patients</h2>
        </div>

        <div class="overflow-auto">
          <table id="view_pat" class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Patient ID</th>
                <th scope="col">Patient Address</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Patient Age</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% let count=1 %>
              <% for (patient of patients) { %>
              <% if (!patient.is_discharged) { %>
              <tr>
                <td><%= count %></td>
                <td><%= patient.name; %></td>
                <td><%= patient.patient_id; %></td>
                <td><%= patient.address; %></td>
                <td><%= patient.contact; %></td>
                <td><%= patient.age; %></td>
                <td><%= patient.type; %></td>
                <td>
                  <a href="/<%= userType %>/patient/q/<%= patient.patient_id %>" class="text-decoration-none">View</a>
                </td>
              </tr>
              <% count++ %>
              <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <!-- bootstrap cdn -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- datatable cdn -->
  <script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script defer src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
  <script defer src="/js/datatable_table.js"></script>

  <!-- Main js file -->
  <script defer src="/js/admin.js"></script>
</body>

</html>